/* Estilos base. */
html, body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/* Classes. */
.centralizar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.canvas canvas {
  background-color: #ccc;
  height: 500px;
  width: 750px;
}

/* Ajustes. */